.output ul,
.output ol {
    padding-left: 20px;
    /* Indentation for lists */
}

.output ol {
    list-style-type: decimal;
}

.output ul {
    list-style-type: disc;
}

.output li {
    margin-bottom: 5px;
    /* Space between list items */
}